/*-------   color: #2d9150 ;   ---------------*/


/*---------------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html,body{
    background-color:#fff;
    color: black;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
section{
    margin-top: 50px;
    padding: 80px 0;
}
.container{
    padding: 15px;
}

/*---------------------------------------------*/
/*HEADINGS*/
/*--------------------------------------------*/

h1,h2{
    
    letter-spacing: 1px;  
}
h1{ 
    font-size: 300%;
    font-weight: 700;
    word-spacing: 4px;
    line-height: 90%;
    margin-bottom: 30px;
}

h2{

    font-size: 250%; 
    font-weight: 700;
    word-spacing: 2px;
    margin: 0 auto;
 }
 .heading-g{
     color: #2d9150;
    
 }
 .border-bot{
    border-bottom: 3px solid white;
    width: 20%;
    margin-bottom: 60px;
    
 }
 h4{
     font-size: 150%;
     font-weight: 700;
 }
/*---------------------------------------------*/
/*BUTTONS*/
/*--------------------------------------------*/

button:hover,button:active{
    cursor: pointer;
}

.btn:link,.btn:visited{
    margin-top: 50px;
    background-color: #2d9150; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}
#btn2 {
    font-weight: 400;
}
/*---------------------------------------------*/
/*HEADER*/
/*--------------------------------------------*/
header{
    background-image: url(images/hero-image.png);
    height: 100vh;
    background-size:550px 100vh;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.logo{
    margin-top: 20px;
    margin-left: 40px;
    height: 100px;
    width: auto;
    float: left;
}
nav{
    margin-left: 30px;
}
.main-nav{
    margin-top: 10px;
    list-style: none;
    float: left;
}
.main-nav li{
    display: inline-block;
    margin-left: 50px;
}
.main-nav li:last-child{
    color: #fff !important;
    position: relative;
    left: 60%;
    border: 3px solid #fff;
    padding: 10px;
}
.main-nav li:last-child a{
    color: #fff !important;
    border-bottom: none !important;
  
}
.main-nav li:first-child a{
    color: #2d9150 !important;
}
.main-nav li a:link,.main-nav li a:visited{
    color:black;
    text-decoration: none;
    font-size: 80%;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ;
    padding: 3px 0;
}
.main-nav li a:hover,.main-nav li a:active{
    
    
    text-decoration: none;
    color: #2d9150 ;
    border-bottom: 1px solid #2d9150;
}
.text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box p{
    width: 500px;
    margin-top: 40px;
    font-weight: 400;
}

/*--------Section-Opportunities-------------*/
.opp-box{
    text-align: center;
}
.opp-box p{
    margin-top: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 20px;
  }
  .card img{
    width: 30%;
    height: 30%;
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-box{
    margin-top: 30px;
    padding: 70px;
    display: flex;
    justify-content: center;
}
.card div p{
    font-size: 80%;
    margin-top: 20px;
    font-weight: 400;
}
.scnd-card{
    background-color: #2d9150;
    color: #fff;
}
.section-opportunities{
    box-shadow: 5px 10px 10px #cfcfcf;
}
/*--------Section-Investment-------------*/
.inv-text-box{
    margin-left: 60px;
}
.inv-text-box h2{
    margin-left: 0;
}
.inv-text-box p{
    font-size: 80%;
    margin-top: 20px;
    font-weight: 400;
}
.inv-box{
    padding: 70px;
    display: flex;
    justify-content: center;
}
.plans{
    height: 500px;
    margin-right: 20px;
}
.box1{
    background-image: url(images/feature-1.png);
    
    background-size: cover;
}
.box2{
    background-image: url(images/feature-2.png);
}
.plans h2{
    color: #fff;
    margin-bottom: 30px;

}
.plans p{
    margin-top: 40px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
.plans button{
    margin-top: 50px;
    background-color: #fff; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}
.plans button a{
    color: #2d9150 ;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
}

/*--------Section-Works-------------*/
.section-works{
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
}
.works-text-box p{
    margin-top: 60px;
    font-size: 80%;
    font-weight: 400;
    width: 700px;
    margin: auto;
    line-height: 30px;
}
.prog-container {
    width: 100%;
    margin-top: 30px;
  }
  
  .progressbar {
    counter-reset: step;
  }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 20%;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #2d9150;
    font-weight: 400;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height : 50px;
    border: 3px solid #fff;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    
  }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 40px;
    left: -50%;
    z-index : 0;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: #2d9150;

  }
  .progressbar li.active:before {
    border-color: #fff;
    background-color: #fff;
  } 
  .progressbar li.active + li:after {
    background-color: #fff;
  }
.text-box-2{
    display: flex;
    position: relative;
    left: 150px;
    top: 70px;
}

/*--------Section-Future-------------*/
.section-future{
    text-align: center;
    box-shadow: 5px 10px 10px #cfcfcf;
}
.future-btn{
    margin-top: 50px;
    background-color: #2d9150; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}
.future-btn a{
    color: #fff;
    text-decoration: none;
}
/*--------Section-Bottomline-------------*/
.section-bottom{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.bot-nav p{
    font-size: 100%;
    font-weight: 700;
    margin-bottom: 10px;
}
.bot-nav ul li {
    list-style: none;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 5px;
    color: grey;
}
.bot-nav ul li:hover{
    cursor: pointer;
}
.zou-box{
    width: 17%;
    text-align: center;
    background-color: #2d9150;
}
.zou-box p{
    font-size: 80%;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.zou-box button{
    margin-top: 10px;
    background-color: #fff; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}
.zou-box button a{
    color: #2d9150 ;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
}
/*------Footer-------*/
footer p{
    padding: 20px;
    float: right;
    color: grey;
    font-weight: 400;
    font-size: 80%;
}

